{%  extends 'base.html.twig' %}


{% block body %}

    <h2> MENTION LEGAL :</h2>
    <p>
        Juste pour faire chier les gens, ceci a été ajouté pour faire perdre patience a toute personne qui lit ces lignes,
        Personne ne les a jamais lues, mais tout le monde continu a les inclurent partout...
        Juste pour faire chier les gens, ceci a été ajouté pour faire perdre patience a toute personne qui lit ces lignes,
        Personne ne les a jamais lues, mais tout le monde continu a les inclurent partout...

    </p>

{% endblock %}


{%  block script %}

    <script>
            alert('ATTENTION VOUS DEVEZ IMPERATIVEMENT LIRE CETTE PAGE')

    </script>
{%  endblock  script %}