{%  extends 'base.html.twig' %}



{% block body %}
    <h2>Ajouter une nouvelle chose a faire avant de mourir !</h2>
    <div>
        {{ form_start(wishform,{attr: {'novalidate': 'novalidate'}}) }}
        {{ form_widget(wishform) }}

        <button type="submit" id="buttonajouter">! Ajouter !</button>
        {{ form_end(wishform) }}

    </div>

{% endblock %}