{%  extends 'base.html.twig' %}

{% block body %}


    <ul>
        {% for wi in wish %}
            <li><a href="{{ path('wish_detail',{'id':wi.id}) }}">{{ wi.title }}</a></li>
        {% endfor %}
    </ul>



{% endblock %}