{%  extends 'base.html.twig' %}

{% block body %}


    <ul>
        {% for wi in wishs %}
            <li><a href="{{ path('wish_detail',{'id':wi.id}) }}">{{ wi.title }}</a>
                <p>{{ wi.categories.name }}</p></li>
        {% endfor %}
    </ul>



{% endblock %}